html {
    background-color: rgba(2, 0, 1);
}

body {
    background-image: url("https://www.esriuk.com/content/dam/distributor-restricted/esriuk-com/maps-we-love/mapping-a-fuel-crisis/banner-fuel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    margin: 0
}

/* Containers */
.profile-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

aside, .categories-nav-container {
    background-color: rgba(48, 45, 45, 0.9);
    width: 10vw;
    height: 100vh;
}

.main-page-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh
}

.header-nav-container {
    display: flex;
    align-items: flex-start;
    background-color: rgb(255, 255, 255, .7);
    width: 90vw;
    height: 7vh;
}

.tool-bar-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(48, 45, 45, 0.9);
    width: 90vw;
    height: 25vh;
    position: relative;
}

.main-chart-container {
    width: 90vw;
    height: 68vh
}

.job-description {
    height: 50vh;
    width: 50vw;
    border: 2px solid black;
}

/* Header nav icons */
.menu-icon, .friend-icon,
.calendar-icon, .bento-icon {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    height: 7vh;
    width: 5vw;
}

.search-icon {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    height: 7vh;
    width: 70vw;
}

.search-icon input {
    margin-bottom: -1em;
    height: 7vh;
    width: 70vw;
    box-sizing: border-box;
    border-radius: 0;
}

/* Text */
.aside-subtitle {
    font-size: medium;
    color: white;
    padding: 6px;
    position: relative;
}

h2 {
    color: white;
    margin-left: 15px
}

ul {
    list-style-type: none;
}

.name {
    font-size: medium;
    color: white;    
}

h1 {
    margin: 0;
    font-size: x-large;
    color: white;
    position: static;
    margin-left: 20px;
}

span {
    font-size: small;
}

p {
   color: white;
   font-weight: bold;
   font-size: 15px;
}

.nav {
    font-size: medium;
    margin-right: 70px;
    padding: 6px;
    position: relative;
}

.duration-difficulty {
    word-spacing: 60px;
}

.time {
    word-spacing: 40px;
}

.link-to-favorites {
    font-size: small;
    color: orange;
}

/* UX */
.nav:hover {
    border: 1px solid orange;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
  }

.arrow-left:hover {
    transform: rotate(45deg);
    cursor: pointer;
}
.menu-icon:hover, .friend-icon:hover,
.calendar-icon:hover, .bento-icon:hover {
    cursor: pointer;
    background-color: #94e4fd;
}

.bookmark-icon:hover, .pencil-icon:hover, 
.delete-icon:hover {
    border: 2px solid black;
    cursor: pointer;
    background-color: orange;
    padding: 5px;
    height: 20px;
    width: 20px;
}

.aside-subtitle:hover {
    border: 1px solid orange;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.link-to-favorites:hover {
    color: #94e4fd;
}

/* Aside icons */
.profile-icon {
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

.box-icon {
    height: 25px;
    width: 25px;
    margin-left: -30px;
    margin-right: 15px;
    margin-top: 15px;
}

.yellow-icon {
    background-color: yellow;
}

.blue-icon {
    background-color: blue;
}

.red-icon {
    background-color: red;
}

.green-icon {
    background-color: green;
}

.home-icon, .jobs-icon, .resumes-icon,
.tasks-icon, .calendar-aside-icon,
.user-icon, .location-icon, .workflow-icon,
.job-icon, .social-icon {
    height: 25px;
    width: 25px;
    margin-left: -30px;
    margin-right: 15px;
    margin-top: 15px;
    filter: invert(1);
}

/* Tool bar icons */
.tool-icon {
    border: 2px solid orange;
    background-color: white;
    padding: 5px;
    height: 20px;
    width: 20px;
    position: absolute;
}

.bookmark-icon {
    background-image: url(https://cdn-icons-png.flaticon.com/512/786/786251.png);
    right: 130px;
}

.pencil-icon {
    background-image: url(https://cdn-icons-png.flaticon.com/512/650/650143.png);
    right: 85px;
}

.delete-icon {
    background-image: url(https://cdn-icons-png.flaticon.com/512/1214/1214428.png);
    right: 40px;
}

.menu-icon-img, .add-friend-icon,
.nav-calendar-icon, .bento-menu-icon {
    height: 25px;
    width: 25px;    
  }

.timer-icon {
    filter: invert(1);
    height: 25px;
    width: 25px;
}
.arrow-left {
    border: .5px solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow-down {
    border: .5px solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.main-img {
    margin-top: 50px;
    margin-left: 70px;
    width: 80vw;
    height: 70vh;
}